modules = ["nodejs-18", "ruby-3.2", "swift-5.8"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Android Dev"

[[workflows.workflow]]
name = "Android Dev"
author = 45808574
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx react-native start"
